body {
    background-color: black 100,100,100;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1{
color: aquamarine;
font-size: 40px;
}
p{
    font-size: 25px;
}
header{
    border-bottom: green;
    margin: 2px;
    padding: 10px;
    color: blueviolet;
}
